
.fire1 {
    background-color: orangered;
    animation: amimationfire1 1.1s linear infinite;
}


.fire2 {
    background-color: white;
    animation: amimationfire2 1s linear infinite;
}

.fire3 {
    background-color: orange;
    animation: amimationfire3 1.2s linear infinite;
}

@keyframes animationfire1 {
    0%, 100% {
        clip-path: polygon(47% 94%, 29% 89%, 16% 73%, 4% 43%, 13% 54%, 10% 29%, 16% 39%, 20% 17%, 27% 36%, 44% 3%, 54% 26%, 62% 11%, 66% 36%, 81% 19%, 79% 49%, 94% 37%, 93% 60%, 84% 76%, 59% 90%);
    }

    50% {
        clip-path: polygon(49% 92%, 27% 87%, 18% 75%, 6% 45%, 11% 53%, 12% 27%, 14% 37%, 22% 19%, 29% 34%, 42% 5%, 56% 24%, 64% 13%, 64% 34%, 83% 17%, 77% 47%, 96% 35%, 95% 62%, 86% 78%, 57% 92%);
    }

}


@keyframes animationfire2 {
    0%, 100% {
        clip-path: polygon(47% 92%, 39% 89%, 16% 73%, 2% 43%, 13% 59%, 10% 39%, 16% 39%, 30% 17%, 37% 36%, 49% 3%, 59% 36%, 62% 11%, 66% 36%, 81% 19%, 79% 49%, 99% 37%, 93% 60%, 89% 76%, 59% 90%);
    }

    50% {
        clip-path: polygon(49% 92%, 37% 87%, 18% 75%, 6% 45%, 11% 53%, 12% 37%, 19% 37%, 32% 19%, 39% 39%, 42% 5%, 56% 39%, 69% 13%, 69% 39%, 83% 17%, 77% 47%, 96% 35%, 95% 62%, 86% 78%, 57% 92%);
    }

}


@keyframes animationfire3 {
    0%, 100% {
        clip-path: polygon(49% 93%, 41% 91%, 18% 75%, 6% 46%, 16% 63%, 10% 39%, 16% 39%, 30% 17%, 37% 36%, 49% 3%, 59% 36%, 62% 11%, 66% 36%, 81% 19%, 79% 49%, 99% 37%, 93% 60%, 89% 76%, 59% 90%);
    }

    50% {
        clip-path: polygon(49% 92%, 37% 87%, 18% 75%, 6% 45%, 11% 53%, 12% 37%, 19% 37%, 32% 19%, 39% 39%, 42% 5%, 56% 39%, 69% 13%, 69% 39%, 83% 17%, 77% 47%, 96% 35%, 95% 62%, 86% 78%, 57% 92%);
    }

}